{ 
"room": "Thug + Music = #ThugStyle",
"author":"MarkCZ (Plug.DJ)",
"css":"https://cdn.radiant.dj/rcs/rs_room.css",
"rules":{ 
"allowAutorespond":true,
"allowAutowoot":true,
"allowAutojoin":false,
"allowAutograb":true,
"allowSmartVote":true,
"allowEmotes":true,
"forceSmartVote":false
},
"ccc":{ 
"admin":"#fa0d28",
"ambassador":"#e003c6",
"host":"##00ff3c",
"cohost":"#00fcc1",
"manager":"#fc0032",
"bouncer":"#fcfc00",
"rdj":"#ffb700",
"subscriber":"#00aeff",
"friend":"#00ffae",
"user":"#ffe100"
},
"images":{ 
"background":"https://cdn.radiant.dj/rcs/bg/2k14tc.jpg",
"playback":"https://dazzuh.ovh/plug/nb3DJvideo.png",
"admin":"https://cdn.radiant.dj/rcs/icons/radiant/admin.png",
"ambassador":"https://cdn.radiant.dj/rcs/icons/radiant/ambassador.png",
"host":"https://cdn.radiant.dj/rcs/icons/radiant/admin.png",
"cohost":"https://cdn.radiant.dj/rcs/icons/radiant/ambassador.png",
"manager":"https://cdn.radiant.dj/rcs/icons/radiant/manager.png",
"bouncer":"https://cdn.radiant.dj/rcs/icons/radiant/bouncer.png",
"rdj":"null",
"subscriber":"https://cdn.radiant.dj/rcs/icons/radiant/subscriber.png"
}
}
